.l-inner {
	margin: 0 auto;
	padding: 0 $pd-x-pc;
	width: $content-width;
	max-width: 100%;
	height: inherit;

	&.--wide {
		width:  $content-width--wide;
	}

	&.--narrow {
		width:  $content-width--narrow;
	}
}

.l-content {
	padding-top: 0;
}
.l-fiexd{
	position: relative;
	width: calc(100% - 258px);
	left: $width;
}

// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
	.l-inner {
		padding: 0 $pd-x-sp;
	}
}
@include media-breakpoint-tab-sp{
	.l-content {
		padding-top: 80px;
	}
	.l-fiexd{
		position: unset;
		width: 100%; 
		left: unset;
	}
}

