.c-heading{
    font-size: ( 30px / $font-size) * 1rem;
    text-align: center;
    color: #78C53C;
    font-weight: 500;
    letter-spacing: 2.2px;
    margin-bottom: 53px;
    &__title{
        font-weight: 500;
        position: relative;
        &::after{
          content: "";
          width: 50px;
          height: 6px;
          background-image: url('./images/common/c-heading1__cicle.svg');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          z-index: -1;
        }
    }
    &.--fs1{
        font-size: ( 24px / $font-size) * 1rem;
        margin-bottom: 27px;
        .--color{
          color: #333333;
        }
    }
    &.--fs2{
        font-size: ( 18px / $font-size) * 1rem;
        margin-bottom: 10px;
    }
    &.--fs3{
        font-size: ( 16px / $font-size) * 1rem;
        margin-bottom: 0;
    }
    &.--color{
        color: #333333;
    }
    &.--left{
        text-align: left;
    }
}
@include media-breakpoint-sp{
    .c-heading{
        font-size: ( 28px / $font-size) * 1rem;
        margin-bottom: 43px;
        &__cicle{
            margin-top: 1px;
            span{
            margin: 0 -0.8px;
            }
        }
        &.--fs1{
            font-size: ( 22px / $font-size) * 1rem;
            margin-bottom: 15px;
        }
        &.--fs2{
            margin-bottom: 16px;
        }
        &.--fs3{
            margin-bottom: 17px;
        }
        &.--left{
            text-align: center;
        }
    }
  }