.c-table{
    font-size: ( 16px / $font-size) * 1rem;
    color: #333333;
    -webkit-overflow-scrolling: touch;
    &__one{
        width: 100%;
        th{
            font-weight: 500;
            padding-bottom: 5px;
        }
    }
    &__border{
        border-bottom: 1px solid #AFAFAF;
        td {
            border: 0 !important;
        }
    }
    &__cat{
        text-align: right;
        width: 140px;
        padding: 18px 20px 18px 0;
    }
    &__icon{
        padding: 18px 0;
        span{
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 14px;
            height: 14px;
            object-fit: cover;
        }
        &.--iconLine{
                img{
                    transform: translateY(-6px);
                    width: 14px;
                    height: 1px;
                    object-fit: cover;
                }
        }
    }
}
@media only screen and (max-width: 1200px) and (min-width: 960px){
    .c-table{
        &__cat{
            width:  unset;
        }
        &__icon{
            span {
                width: 40px;
                height: 40px;
            }
        }
    }
}
@include media-breakpoint-tab{
    .c-table{
        &__cat{
            width: 90px;
        }
        &__one{
            th{
                width: 50px;
            }
        }
        &__icon{
            span{
                width: unset;
            }
        }
    }
}
@include media-breakpoint-sp{
    .c-table{
        font-size: ( 14px / $font-size) * 1rem;
        &__icon{
            span{
                width: unset;
            }
            img{
                width: 10px;
                height: 10px;
                object-fit: cover;
            }
        }
        &__one {
            th{
                width: 30px;
                white-space: nowrap;
            }
        }
        &__boder{
            .--edit{
                width: 50px;
            }
        }
        &__cat {
            width: 70px;
            white-space: nowrap;
        }
    }
}
@media screen and (max-width: 375px) {
    .c-table{
        &__icon span {
            width: unset;
        }
        &__cat{
            letter-spacing: -0.05em;
        }
        &__boder{
            .--edit{
                letter-spacing: -0.3em;
            }
        }
    }
}