/* title */ 
.c-heading1{
    font-size: ( 30px / $font-size) * 1rem;
    text-align: center;
    color: #78C53C;
    font-weight: 500;
    letter-spacing: 2.2px;
    &__title{
      font-weight: 500;
      position: relative;
      &::after{
        content: "";
        width: 50px;
        height: 6px;
        background: url(./images/common/c-heading1__cicle.png);
        background-size: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
      }
    }
  &.--fs1{
    font-size: ( 24px / $font-size) * 1rem;
  }
}
@include media-breakpoint-sp{
  .c-heading1{
    font-size: ( 26px / $font-size) * 1rem;
    line-height: 1.5;
    letter-spacing: 4px;
    &.--fs1{
      font-size: ( 22px / $font-size) * 1rem;
    }
    &__cicle{
      margin-top: 1px;
      span{
        margin: 0 -0.8px;
      }
    }
  }
}