/* mainvisual */ 
.c-mainvisual {
    &__item {
        .slick-slide {
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
        }
    }
}
@include media-breakpoint-tab-sp{
    .c-mainvisual {
        &__item {
            .slick-slide {
                height: calc(100vh - 80px);
            }
        }
    }
}
