.c-btn{
    background: $blue;
    max-width: 335px;
    width: 90%;
    color: #fff;
    font-weight: bold;
    font-size: ( 18px / $font-size) * 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 50px;
    font-family: $font-family-noto;

    img{
        transition: all 0.2s linear;
        position: absolute;
        width: 20px;
        height: 7px;
        right: 14.6%;
    }
    &.--white{
        color: $blue;
        background: #fff;
        position: unset;
        transition: all 0.2s linear;
        img{
            position: unset;
            width: 23px;
            height: 23px;
            margin-right: 10px;
            &:last-child{
                width: 32px;
            }
        }
        &.c-btn__size{
            img{
                height: 23px;
                width: 32px;
            }
        }
    }
}
.c-btnPoint{
    color: #fff;
    background: #003C78;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    font-size: ( 16px / $font-size) * 1rem;
	font-family: $font-family-noto;
    height: 30px;
}
.c-circle{
    color: #fff;
    background: $blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: ( 16px / $font-size) * 1rem;
}
.c-btnNew{
    color: #fff;
    background: #C82310;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.75;
    height: 18px;
    font-size: ( 11.45px / $font-size) * 1rem;
    width: 41px;
}

@include media-breakpoint-pc-tab{
    .c-btn{
        &:hover{
            img{
                right: 8%;
            }
        }
        &.--white{
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

@include media-breakpoint-sp {
    .c-btn{
        width: 100%;
        padding: 15px 0;
        img{
            right: 15%;
        }
    }
    .c-btnPoint{
        width: 45px;
        height: 45px;
        font-size: ( 22px / $font-size) * 1rem;
    }
    .c-btnNew{
        padding: 0 8px;
        line-height: 1.2;
    }
    .c-circle{
        font-size: ( 22px / $font-size) * 1rem;
        width: 44px;
        height: 44px;
    }
}