.c-heading1{
    font-size: ( 30px / $font-size) * 1rem;
    font-weight: bold;
    color: #333333;

    &.--fs1{
        font-size: ( 20px / $font-size) * 1rem;
    }
    &.--fs2{
        font-size: ( 24px / $font-size) * 1rem;
    }
    &.--fs3{
        font-size: ( 16px / $font-size) * 1rem;
    }
    &.--fs4{
        font-size: ( 18px / $font-size) * 1rem;
    }
    &.--bold{
        font-weight: bold;
    }
    &.--heavy{
        font-weight: 900;
    }
    &.--center{
        text-align: center;
    }
}  