<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'temp',
		title: 'テンプレート',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
					<section class="p-temp">
						<div class="l-inner --narrow">
							<div class="c-heading1">
								<h2 class="c-heading1__title">Coming Soon</h2>
							</div>
							<p class="c-text --center">
								こちらのページは現在制作中です。<br>
								公開までしばらくお待ちください。
							</p>
							<a href="#" class="c-btn --edit">
								トップページへ戻る
							</a>
						</div>
					</section>
<%- include('_footer'); %>
