.u-borderTitle{
    &::after{
        position: absolute;
        content: "";
        background-image: url("../../image/border.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 10px;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    &.--edit{
        &::after{
            position: absolute;
            content: "";
            background-image: url("../../image/border.png");
            background-repeat: no-repeat;
            width: 40px;
            height: 10px;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@include media-breakpoint-sp{
    .u-borderTitle{
        &::after{
            bottom: -15px;
        }
    }
}
