.c-anchor{
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 38px 30px;
        color: #333333;
        font-family: $font-family-gothic;
        font-size: ( 16px / $font-size) * 1rem;
        border-radius: 8px;
        background: #F4F4F4;
    }
    &__item{
        border-bottom: 1px solid #78C53C;
        transition: all 0.2s linear;
        line-height: 1;
        &.--bold{
            font-weight: bold;
            font-size: ( 15px / $font-size) * 1rem;
            border: 0;
        }
    }
}
@include media-breakpoint-sp{
    .c-anchor{
        &__list{
           flex-direction: column;
        }
        &__item{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
}
@include media-breakpoint-pc-tab{
    .c-anchor{
        &__item{
            &:hover{
                opacity: 0.7;
            }
        }
    }
}