.c-background{
    margin-top: 150px;
    margin-bottom: 200px;
    height: 600px;
    background: #FAFFF0;
    position: relative;
    &::before,&::after{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100px;
    }
    &::before{
        background-image: url('./images/common/background01_top.png');
        background-position: top;
        top: -99px;
    }
    &::after{
        content: "";
        background-image: url('./images/common/background01_bottom.png');
        background-position: bottom;
        bottom: -99px;
    }
}