.c-tabbar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
    height: 80px;
    justify-content: space-between;
    background: #fff;

    &__link{
        font-size: ( 15px / $font-size) * 1rem;
        width: 33%;
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        background: #78C53C;
        padding: 10px 0;
    }
}